{% extends 'User.html.twig'%}

{% block Title %}Discover with us{% endblock %}

{% block StyleSheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/User/Discover.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Projects/projects.css') }}">

{% endblock %}

{% block Activated %}
    <li class="nav-item actived">
        <a href="#">DISCOVER</a>
    </li>
    <li class="nav-item" id = "header">
        <a class="nav-link" href="{{ path('MyCourses') }}">MY COURSES</a>
    </li>
    <li class="nav-item" id = "header">
        <a class="nav-link" href="{{ path('MyProjects') }}">MY PROJECTS</a>
    </li>
{% endblock %}

{% block Body %}

<nav aria-label="..." class="Categories">

    <h1 class="title">
        <span>So Do You Want To</span>
        <span> discover some projects ?</span>
    </h1>

    <ul class="pagination pagination-lg first" >
        <li ><a class="btn from-right" href="{{ path('Discover_Courses_Languages') }}">Courses</a></li>
        <li ><a class="btn active" href="">Projects</a></li>
    </ul>

    <ul class="pagination pagination-lg second" >
        <li class="page-item"><a class="page-link" style="color: rgb(134, 206, 211) " href="{{path('Discover_LP')}}">Programming Languages</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link" style="background-color: rgb(134, 206, 211)  ;  border-color: rgb(134, 206, 211) " >Languages</span>
        </li>
        <li class="page-item"><a class="page-link" style="color: rgb(134, 206, 211) " href="{{ path('Discover_Projects_Music') }}">Music</a></li>
    </ul>
</nav>


    
<div class="container">
    <div class="row list-project">
        <div class="col-md-7">
            <img class="Project-img" src="{{ asset('images/Projects/writebook.png')}}" alt="project-image" class="rounded tablet-top">
        </div>
        <!-- / column -->
        <div class="col-md-5">
            <div class="project-info-box mt-0">

                <h5 class="NextTitle">Write Your First Bestselling  Book </h5>
                <p>You decided to write a book. Maybe you have the perfect idea (so you think, but we’ll get to that), have always wanted to write one, and just aren’t sure where the heck to get started!

                        The process of writing and publishing a book successfully is so much more than just writing and pushing a button to publish on Amazon.</p>
            </div>
            <!-- / project-info-box -->

            <div class="project-info-box mb-10">
               
                <p><b>Designer:</b> Hadil Hellali</p>
                <p><b>Tools:</b> Inspiration, Motivation &amp; a Pen</p>
            </div>
            <!-- / project-info-box -->

            <a href="#" class="btn-grad">VIEW PROJECT</a>
        </div>
        <!-- / column -->
    </div>
    <!-- / row list-project -->

    <div class="spacer-line-fw border-secondary opc-25 mt-30 mb-30">&nbsp;</div>

    <div class="row list-project">
        <div class="col-md-5 tablet-top">
            <div class="project-info-box mt-0">

                <h5 class="NextTitle">Write your first Poetry</h5>
                <p>There are no officially sanctioned rules of poetry. However, as with all creative writing, having some degree of structure can help you reign in your ideas and work productively. Here are some guidelines for those looking to take their poetry writing to the next level. Or, if you literally haven’t written a single poem since high school, you can think of this as a beginner's guide that will teach you the basics and have you writing poetry in no time.</p>

            </div>
            <!-- / project-info-box -->

            <div class="project-info-box mb-10">
                
                <p><b>Designer:</b> Sir Ghorbel Mehdi</p>
                <p><b>Tools:</b> Pen &amp; Paper</p>
            </div>
            <!-- / project-info-box -->

            <a href="#" class="btn-grad">VIEW PROJECT</a>
        </div>
        <!-- / column -->

        <div class="col-md-7">
            <img class="Project-img" src="{{ asset('images/Projects/poetry.jpg')}}"  alt="project-image" class="rounded">
        </div>
        <!-- / column -->
    </div>
    <!-- / row list-project -->

    <div class="spacer-line-fw border-secondary opc-25 mt-30 mb-30">&nbsp;</div>

    <div class="row list-project">
        <div class="col-md-7">
            <img class="Project-img" src="{{ asset('images/Projects/essay.jpg')}}" alt="project-image" class="rounded tablet-top">
        </div>
        <!-- / column -->
        <div class="col-md-5">
            <div class="project-info-box mt-0">

                <h5 class="NextTitle">Essay Writng Guide </h5>
                <p>Feel passionately about something and want to share it? Write an essay! Disagree with a popular opinion and wish to convince others to join you? Write an essay! Need to write something because the college you dream of attending is making you? Write an essay! 

                        “Essay” is a loose term for writing that asserts the author’s opinion on a topic, whether academic, editorial, or even humorous. There are a thousand different approaches to essay writing and a million different topics to choose from, but what we’ve found is that good essay writing tends to follow the same framework. 

                </p>
            </div>
            <!-- / project-info-box -->

            <div class="project-info-box mb-10">
               
                <p><b>Designer:</b> Dali Naim</p>
                <p><b>Tools:</b> Pen &amp; Paper</p>
            </div>
            <!-- / project-info-box -->

            <a href="#" class="btn-grad">VIEW PROJECT</a>
        </div>
        <!-- / column -->
    </div>
    <!-- / row list-project -->
</div>
   

{% endblock  %}