{% extends 'User.html.twig'%}

{% block Title %}Discover with us{% endblock %}

{% block StyleSheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/User/Discover.css') }}">
{% endblock %}

{% block Activated %}
    <li class="nav-item actived">
        <a href="#">DISCOVER</a>
    </li>
    <li class="nav-item" id = "header">
        <a class="nav-link" href="{{ path('MyCourses') }}">MY COURSES</a>
    </li>
    <li class="nav-item" id = "header">
        <a class="nav-link" href="{{ path('MyProjects') }}">MY PROJECTS</a>
    </li>
{% endblock %}

{% block Body %}

    <nav aria-label="..." class="Categories">

        <h1 class="title">
            <span>So which course  </span>
            <span> do you want to take ?</span>
        </h1>

        <ul class="pagination pagination-lg first" >
            <li ><a class="btn active" href="">Courses</a></li>
            <li ><a class="btn from-right" href="{{ path('Discover_LP') }}">Projects</a></li>
        </ul>
        <ul class="pagination pagination-lg second" >
            <li class="page-item active" aria-current="page">
                <span class="page-link" style="background-color: rgb(134, 206, 211)  ;  border-color: rgb(134, 206, 211) ">Programming Languages</span>
            </li>
            <li class="page-item"><a class="page-link" style="color: rgb(134, 206, 211) ;" href="{{ path('Discover_Courses_Languages') }}">Languages</a></li>
            <li class="page-item"><a class="page-link" style="color: rgb(134, 206, 211) "  href="{{ path('Discover_Courses_Music') }}">Music</a></li>
        </ul>
    </nav>

<div class="container" id="Courses">
    <div class="row">
        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">HTML</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> Le language pour creer des pages web</h6>
                <p class="card-text"> Le HyperText Markup Language, généralement abrégé HTML
                    ou dans sa dernière version HTML5, est le langage de balisage
                    conçu pour représenter les pages web. </p>
                <div class="row buttons">
                    <div class="col"><a href="{{ path('HTMLCourse') }}" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="{{ path('HTMLCourse' , {num : 7  })}}" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>

        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">CSS</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> Le language pour styler des pages web</h6>
                <p class="card-text">  Dans ce module, on commence avec les bases du fonctionnement de CSS :
                    les sélecteurs, les propriétés, écrire des règles CSS, appliquer du CSS
                    à un document HTML, utiliser des longueurs, des couleurs et d'autres
                    unités. On voit également la cascade et l'héritage en CSS, les bases
                    du modèle de boîtes et comment déboguer du code CSS.</p>
                <div class="row buttons">
                    <div class="col"><a href="{{ path('CSSCourse') }}" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="{{ path('CSSCourse' , {num: 10 })}}" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">JAVASCIPT</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> Le language pour programmer des pages web</h6>
                <p class="card-text"> JavaScript est un langage de programmation de
                    scripts principalement employé dans les pages web interactives et
                    à ce titre est une partie essentielle des applications web. Avec
                    les technologies HTML et CSS, JavaScript est parfois considéré comme
                    l'une des technologies cœur du World Wide Web2. Une grande majorité
                    des sites web l'utilisent3, et la majorité des navigateurs web
                    disposent d'un moteur JavaScript4 dédié pour l'interpréter,
                    indépendamment des considérations
                    de sécurité qui peuvent se poser le cas échéant. </p>
                <div class="row buttons">
                    <div class="col"><a href="{{ path('JAVASCIPTCourse') }}" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="{{ path('JAVASCIPTCourse' , {num : 11 })}}" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>

        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">C++</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> language de programmation </h6>
                <p class="card-text"> C ++ est un langage très populaire pour
                    les applications critiques en termes de performances qui
                    reposent sur une gestion rapide et efficace de la mémoire.
                    Il est utilisé dans un large éventail d'industries, notamment
                    le développement de logiciels et de jeux, la réalité virtuelle,
                    la robotique et l'informatique scientifique. </p>
                <div class="row buttons">
                    <div class="col"><a href="#" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="#" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title"> SQL</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> language de base de donnees</h6>
                <p class="card-text"> Le langage SQL (Structured Query Language)
                    est un langage informatique utilisé pour exploiter des bases
                    de données. Il permet de façon générale la définition,
                    la manipulation et le contrôle de sécurité de données. </p>
                <div class="row buttons">
                    <div class="col"><a href="#" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="#" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>

        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">JAVA</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> language de programmation </h6>
                <p class="card-text"> Java est un langage de programmation orienté
                    objet créé par James Gosling et Patrick Naughton, employés de
                    Sun Microsystems, avec le soutien de Bill Joy (cofondateur de
                    Sun Microsystems en 1982),
                    présenté officiellement le 23 mai 1995 au SunWorld. </p>
                <div class="row buttons">
                    <div class="col"><a href="#" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="#" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col" style="width: 40rem;">
            <div class="card-body">
                <div class="row gradient-underline"><h5 class="card-title">Python</h5></div>
                <h6 class="card-subtitle mb-2 text-muted description"> language de programmation </h6>
                <p class="card-text"> Python (prononcé en anglais /ˈpaɪ.θɑn/3) est un
                    langage de programmation interprété, multi-paradigme et
                    multiplateformes. Il favorise la programmation impérative structurée
                    , fonctionnelle et orientée objet. Il est doté d'un typage dynamique
                    fort, d'une gestion automatique de la mémoire par ramasse-miettes et
                    d'un système de gestion d'exceptions ;
                    il est ainsi similaire à Perl, Ruby, Scheme, Smalltalk et Tcl. </p>
                <div class="row buttons">
                    <div class="col"><a href="#" class="btn-grad">START NOW!</a></div>
                    <div class="col"><a href="#" class="btn-grad">GO TO QUIZZ </a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

