{% extends 'Courses/Course.html.twig' %}
{% block Title %}CSS Course{% endblock %}
{% block width %}90%{% endblock %}
{% block Bar %}
    <a href="{{ path('CSSCourse') }}" class="list-group-item list-group-item-action ">CSS syntaxe</a>
    <a href="{{ path('CSSCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">les methodes d'invocation</a>
    <a href="{{ path('CSSCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">CSS texte</a>
    <a href="{{ path('CSSCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">CSS coleur et bordeur</a>
    <a href="{{ path('CSSCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">les selecteurs principaux</a>
    <a href="{{ path('CSSCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">les selecteurs speciaux</a>
    <a href="{{ path('CSSCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">les classes</a>
    <a href="{{ path('CSSCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">CSS div et span</a>
    <a href="{{ path('CSSCourse',{num : 8 }) }}" class="list-group-item list-group-item-action active">les pseudo classes</a>
    <a href="{{ path('CSSCourse',{num : 9 }) }}" class="list-group-item list-group-item-action "> les tableaux</a>
    <a href="{{ path('CSSCourse',{num : 10 }) }}" class="list-group-item list-group-item-action "> CSS quiz </a>
{% endblock %}
{% block titleParagraphe %}Les pseudo classes {% endblock %}
{% block NextTitle %}{% endblock %}
                    {% block Course %}
                        <div class="card" style="margin-top: 20px ">
                            <div class="card-body">
                                <p>
                                    Règles affectant les liens :
                                </p>
                                <ul>
                                    <li> A:link { color: red } :liens non visité
                                    </li>
                                    <li>A:active { color: maroon } :lien pendant que l'on click,dessus)
                                    </li>
                                    <li>A:visited { color: green } :liens visités
                                    </li>
                                    <li> A:hover {font-size:300%} :Au survol
                                    </li>
                                    <li> A:focus : état d'un élément qui a reçu «l'attention», par exemple un
                                        lien lorsqu'on y accède grâce au clavier, ou un champ texte d'un
                                        formulaire lorsqu'on clique dedans);</li>
                                </ul>

                                <div class="container justify-items-end row">
                                    <div class="col"><a class="btn-grad" href="{{ path('CSSCourse',{num : 7 }) }}">< Previous</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('CSSCourse',{num : 9 }) }}">Next ></a></div>
                                </div>

                            </div>
                        </div>
                    {% endblock %}