

    {% block StyleSheet %}
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('CSS/login/styleLogin.css')}}">
    {% endblock %}
    {% block Title %}Login{% endblock %}

{% block Body %}
    {% block Header %}
    {% endblock %}


<section>
    <div class="container box">

        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>

            <form method="post">


                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('home') }}">Logout</a>
                    </div>
                {% endif %}
            <div class="form-group ">
                <label for="inputEmail">Email address</label>
                <input type="email" value="{{ last_username }}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="email" required autofocus>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group ">
                <label for="inputPassword">Password</label>
                <input type="password"  name="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
                       <!--pattern="[a-zA-Z0-9]{8,20}"--> {# Just did that to test something #}
            </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


      {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>


            <div class="container">
                <h6>Dont have an account? <a href="{{ path('registration') }}">Sign up</a></h6>
            </div>

            <button type="submit" class="btn btn-secondary">sign in</button>
            </form>
        <div class="container">
            <h6>   forgot password ? <a href="{{ path('forget') }}">click here</a> </h6>
        </div>
    </div>

    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
</section>
{% endblock %}


    {% block Scripts %}
        <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    {% endblock %}

    {% block Footer %}
    {% endblock %}
