{% extends 'Courses/Course.html.twig' %}

{% block width %}100%{% endblock %}
{% block Bar %}
    <a href="{{ path('HTMLCourse') }}" class="list-group-item list-group-item-action ">HTML History</a>
    <a href="{{ path('HTMLCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">HTML balises</a>
    <a href="{{ path('HTMLCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">HTML tableaux</a>
    <a href="{{ path('HTMLCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">HTML input</a>
    <a href="{{ path('HTMLCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">HTML types input</a>
    <a href="{{ path('HTMLCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">HTML organisation</a>
    <a href="{{ path('HTMLCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">HTML media</a>
    <a href="{{ path('HTMLCourse',{num : 7 }) }}" class="list-group-item list-group-item-action active">HTML quiz</a>
{% endblock %}

{% block titleParagraphe %}HTML QUIZ{% endblock %}
{% block NextTitle %} {% endblock %}

{% block Course %}
<div class="card" style=" margin: 20px ;">
    <div class="card-body">
    <form action="calculScoreQuizzCoursHTML.php">
        <fieldset class="form-group" style="text-align: left">
            <legend class="mt-4">Pour définir un titre DANS une page HTML, on utilise...</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question1" id="optionsRadios1" value="option1" >
                    La balise title
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question1" id="optionsRadios2" value="option2">
                    La balise head
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question1" id="optionsRadios3" value="option3" >
                    une des balise h1,h2,h3
                </label>
            </div>
        </fieldset>


        <fieldset class="form-group" style="text-align: left">
            <legend class="mt-4">Laquelle de ces syntaxes est correcte pour écrire un commentaire en HTML ?</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question2" id="optionsRadios1" value="option1" >
                    < !--Commentaire-->
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question2" id="optionsRadios2" value="option2">
                    <--Commentaire-->
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question2" id="optionsRadios3" value="option3" >
                    < !--Commentaire--!>
                </label>
            </div>
        </fieldset>



        <fieldset class="form-group" style="text-align: left">
            <legend class="mt-4">quel type d'input n'existe pas </legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question3" id="optionsRadios1" value="option1" >
                    url
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question3" id="optionsRadios2" value="option2">
                    email
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question3" id="optionsRadios3" value="option3" >
                    phone
                </label>
            </div>
        </fieldset>




        <fieldset class="form-group" style="text-align: left">
            <legend class="mt-4"> quelle est la balise qui indique le debut d'un tableau </legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question4" id="optionsRadios1" value="option1" >
                    La balise td
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question4" id="optionsRadios2" value="option2">
                    La balise table
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question4" id="optionsRadios3" value="option3" >
                    la balise head
                </label>
            </div>
        </fieldset>



        <fieldset class="form-group" style="text-align: left">
            <legend class="mt-4">quels sont les types des balises ?</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question5" id="optionsRadios1" value="option1" >
                    block et colonne
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question5" id="optionsRadios2" value="option2">
                    inline et colonne
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="question5" id="optionsRadios3" value="option3" >
                    block et inline
                </label>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>

    </form>

        <div class="container justify-items-end row">
            <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
            <div class="col"><a class="btn-grad" href="{{ path('HTMLCourse',{num : 6 }) }}">< Previous</a></div>
        </div>
    </div>
</div>
{% endblock %}
