{% extends 'Courses/Course.html.twig' %}

{% block width %}40%{% endblock %}
{% block Bar %}
    <a href="{{ path('HTMLCourse') }}" class="list-group-item list-group-item-action ">HTML History</a>
    <a href="{{ path('HTMLCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">HTML balises</a>
    <a href="{{ path('HTMLCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">HTML tableaux</a>
    <a href="{{ path('HTMLCourse',{num : 3 }) }}" class="list-group-item list-group-item-action active ">HTML input</a>
    <a href="{{ path('HTMLCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">HTML types input</a>
    <a href="{{ path('HTMLCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">HTML organisation</a>
    <a href="{{ path('HTMLCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">HTML media</a>
    <a href="{{ path('HTMLCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">HTML quiz</a>
{% endblock %}

{% block titleParagraphe %}HTML input{% endblock %}
{% block NextTitle %} {% endblock %}

{% block Course %}
    <div class="card" style=" margin: 20px ;">
        <div class="card-body">

            <p>
                permet de :<br>
                - crée une zone de saisie  <br>
                - Balise monolithique
            </p>
            <h2 class="NextTitle"> Principaux attributs</h2>
            <p>

                NAME : nom du champ  <br>
                SIZE : largeur du cadre réservé au champ <br>
                MAXLENTH: longueur du texte <br>
                TYPE : (text, password, radio, checkbox, submit, reset, file, …) <br>
                VALUE : La valeur du champ
            </p>

        </div>

        <div class="container justify-items-end row">
            <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
            <div class="col"><a class="btn-grad" href="{{ path('HTMLCourse',{num : 2 }) }}">< Previous</a></div>
            <div class="col"><a class="btn-grad" href="{{ path('HTMLCourse',{num : 4 }) }}">Next ></a></div>
        </div>
    </div>
{% endblock %}
