{% extends 'Courses/Course.html.twig' %}
{% block Title %}HTML Course{% endblock %}
{% block width %}37%{% endblock %}
{% block Bar %}
    <a href="{{ path('francaisCourse') }}" class="list-group-item list-group-item-action  ">les nombres</a>
    <a href="{{ path('francaisCourse',{num : 1 }) }}" class="list-group-item list-group-item-action">les jours</a>
    <a href="{{ path('francaisCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">les mois</a>
    <a href="{{ path('francaisCourse',{num : 3 }) }}" class="list-group-item list-group-item-action active">les saisons</a>
    <a href="{{ path('francaisCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">la famille</a>
    <a href="{{ path('francaisCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">les temps verbaux</a>
    <a href="{{ path('francaisCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">Les Pronoms personnels</a>
    <a href="{{ path('francaisCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">les articles</a>
    <a href="{{ path('francaisCourse',{num : 8 }) }}" class="list-group-item list-group-item-action ">francais quiz</a>

{% endblock %}
{% block titleParagraphe %} les saisons {% endblock %}
{% block NextTitle %}<h2 class="NextTitle">Les saisons de l'annee</h2>  {% endblock %}

                    {% block Course %}
                        <div class="card" style="margin-top: 20px ">
                            <div class="card-body">
                                <ul>
                                    <li> Spring </li>
                                    <li> summer </li>
                                    <li> autumn </li>
                                    <li> winter </li>
                                </ul>

                                <img src="{{ asset('images/francais/les%20saisons.png')}}" class="img-thumbnail" width="500px"/>

                                <div class="container justify-items-end row">
                                    <div class="col"><a class="btn-grad" href="{{ path('francaisCourse',{num : 2 }) }}">< Previous</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('francaisCourse',{num : 4 }) }}">Next ></a></div>
                                </div>

                            </div>
                        </div>
                    {% endblock %}


