{% extends 'Courses/Course.html.twig' %}
{% block Title %}HTML Course{% endblock %}
{% block width %}25%{% endblock %}
{% block Bar %}
    <a href="{{ path('francaisCourse') }}" class="list-group-item list-group-item-action  ">les nombres</a>
    <a href="{{ path('francaisCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">les jours</a>
    <a href="{{ path('francaisCourse',{num : 2 }) }}" class="list-group-item list-group-item-action active">les mois</a>
    <a href="{{ path('francaisCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">les saisons</a>
    <a href="{{ path('francaisCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">la famille</a>
    <a href="{{ path('francaisCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">les temps verbaux</a>
    <a href="{{ path('francaisCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">Les Pronoms personnels</a>
    <a href="{{ path('francaisCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">les articles</a>
    <a href="{{ path('francaisCourse',{num : 8 }) }}" class="list-group-item list-group-item-action ">francais quiz</a>

{% endblock %}
{% block titleParagraphe %} les mois {% endblock %}
{% block NextTitle %}<h2 class="NextTitle">Les mois de l'annee</h2>  {% endblock %}

                    {% block Course %}
                        <div class="card" style="margin-top: 20px ">
                            <div class="card-body">
                                <hr class="my-4">

                                <ul>
                                    <li> January contains 31 days </li>
                                    <li> February contains 28 or 29 days </li>
                                    <li> March contains 31 days </li>
                                    <li> April contains 30 days </li>
                                    <li> May contains 31 days </li>
                                    <li> June contains 30 days </li>
                                    <li> July contains 31 days </li>
                                    <li> August contains 31 days </li>
                                    <li> September contains 30 days </li>
                                    <li> October contains 31 days </li>
                                    <li> November contains 30 days </li>
                                    <li> December contains 31 days </li>
                                    <li> a year contains 12 months </li>
                                </ul>

                                <div class="container justify-items-end row">
                                    <div class="col"><a class="btn-grad" href="{{ path('francaisCourse',{num : 1 }) }}">< Previous</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('francaisCourse',{num : 3 })}}">Next ></a></div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}


