{% extends 'Courses/Course.html.twig' %}
{% block Title %}Francais Course{% endblock %}
{% block Bar %}
    <a href="{{ path('francaisCourse') }}" class="list-group-item list-group-item-action active ">les nombres</a>
    <a href="{{ path('francaisCourse',{num : 1 }) }}" class="list-group-item list-group-item-action">les jours</a>
    <a href="{{ path('francaisCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">les mois</a>
    <a href="{{ path('francaisCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">les saisons</a>
    <a href="{{ path('francaisCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">la famille</a>
    <a href="{{ path('francaisCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">les temps verbaux</a>
    <a href="{{ path('francaisCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">Les Pronoms personnels</a>
    <a href="{{ path('francaisCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">les articles</a>
    <a href="{{ path('francaisCourse',{num : 8 }) }}" class="list-group-item list-group-item-action ">francais quiz</a>

{% endblock %}
{% block titleParagraphe %} les nombres {% endblock %}
{% block NextTitle %} {% endblock %}

       {% block Course %}
           <div class="card" style="margin-top: 20px ">
               <div class="card-body">
                   <p> numbers between 0 and 10 </p>

                   <ul>
                       <li> 0: zero </li>
                       <li> 1: one </li>
                       <li> 2: two </li>
                       <li> 3: three </li>
                       <li> 4: four </li>
                       <li> 5: five </li>
                       <li> 6: six </li>
                       <li> 7: Sep </li>
                       <li> 8: eight </li>
                       <li> 9: nine </li>

                   </ul>

                   <p> numbers multiple of 10 </p>
                   <ul>
                       <li> 10:10 </li>
                       <li> 20:20 </li>
                       <li> 30:30 </li>
                       <li> 40:40 </li>
                       <li> 50:50 </li>
                       <li> 60: sixty </li>
                       <li> 70: seventy </li>
                       <li> 80: eighty </li>
                       <li> 90: ninety </li>
                       <li> 100: one hundred </li>

                   </ul>


                   <div class="container justify-items-end row">
                       <div class="col">    </div>
                       <div class="col"><a class="btn-grad" href="{{ path('Discover') }}">Home</a></div>
                       <div class="col"><a class="btn-grad" href="{{ path('francaisCourse', {num : 1 }) }}">Next ></a></div>
                   </div>

               </div>
           </div>
       {% endblock %}
