{% extends 'Courses/Course.html.twig' %}
{% block Title %}JS Course{% endblock %}
{% block width %}100%{% endblock %}
{% block Bar %}
    <a href="{{ path('JSCourse') }}" class="list-group-item list-group-item-action ">JS History</a>
    <a href="{{ path('JSCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">introduction </a>
    <a href="{{ path('JSCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">Les identifiants</a>
    <a href="{{ path('JSCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">Dates et Times</a>
    <a href="{{ path('JSCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">Les chaines</a>
    <a href="{{ path('JSCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">Les booleens</a>
    <a href="{{ path('JSCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">Les variables</a>
    <a href="{{ path('JSCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">les tableaux</a>
    <a href="{{ path('JSCourse',{num : 8 }) }}" class="list-group-item list-group-item-action ">Les objets</a>
    <a href="{{ path('JSCourse',{num : 9 }) }}" class="list-group-item list-group-item-action ">Les fonctions</a>
    <a href="{{ path('JSCourse',{num : 10 }) }}" class="list-group-item list-group-item-action active">Le DOM</a>
    <a href="{{ path('JSCourse',{num : 11 }) }}" class="list-group-item list-group-item-action ">JS quiz</a>

{% endblock %}
{% block titleParagraphe %}Le DOM {% endblock %}
{% block NextTitle %}{% endblock %}
                    {% block Course %}
                        <div class="card" style="margin-top: 20px ">
                            <div class="card-body">
                                <p>  Le Document Object Model (DOM) représente une API pour les documents
                                    HTML et XML permettant leur manipulation.</p>
                                <p>En tant que recommandation du W3C, l’objectif du DOM est de fournir une
                                    interface de programmation standard pour être utilisée par tous (applications, OS)</p>
                                <p>Permet de construire une arborescence de la structure d’un document et de ses
                                    éléments   </p>
                                <p> Modélisé sous forme d’arbre.</p>
                                <p>Chaque élément du DOM est représenté par un objet en JavaScript   </p>
                                <p>La tête de l’arbre est l’objet window qui représente la fenêtre du navigateur.  </p>
                                <p> L’objet document est un sous-objet de window c’est son fils. Il représente la page
                                    Web et permet de pointer ou d’accéder à la balise HTMl</p>

                                <div class="container justify-items-end row">
                                    <div class="col"><a class="btn-grad" href="{{ path('JSCourse',{num : 10 }) }}">< Previous</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('JSCourse',{num : 11 }) }}">Next ></a></div>
                                </div>

                            </div>
                        </div>
                    {% endblock %}