{% extends 'Courses/Course.html.twig' %}
{% block Title %}JS Course{% endblock %}
{% block width %}81%{% endblock %}
{% block Bar %}
    <a href="{{ path('JSCourse') }}" class="list-group-item list-group-item-action ">JS History</a>
    <a href="{{ path('JSCourse',{num : 1 }) }}" class="list-group-item list-group-item-action ">introduction </a>
    <a href="{{ path('JSCourse',{num : 2 }) }}" class="list-group-item list-group-item-action ">Les identifiants</a>
    <a href="{{ path('JSCourse',{num : 3 }) }}" class="list-group-item list-group-item-action ">Dates et Times</a>
    <a href="{{ path('JSCourse',{num : 4 }) }}" class="list-group-item list-group-item-action ">Les chaines</a>
    <a href="{{ path('JSCourse',{num : 5 }) }}" class="list-group-item list-group-item-action ">Les booleens</a>
    <a href="{{ path('JSCourse',{num : 6 }) }}" class="list-group-item list-group-item-action ">Les variables</a>
    <a href="{{ path('JSCourse',{num : 7 }) }}" class="list-group-item list-group-item-action ">les tableaux</a>
    <a href="{{ path('JSCourse',{num : 8 }) }}" class="list-group-item list-group-item-action active">Les objets</a>
    <a href="{{ path('JSCourse',{num : 9 }) }}" class="list-group-item list-group-item-action ">Les fonctions</a>
    <a href="{{ path('JSCourse',{num : 10 }) }}" class="list-group-item list-group-item-action ">Le DOM</a>
    <a href="{{ path('JSCourse',{num : 11 }) }}" class="list-group-item list-group-item-action ">JS quiz</a>

{% endblock %}
{% block titleParagraphe %}Les Objets {% endblock %}
{% block NextTitle %}{% endblock %}
                    {% block Course %}
                        <div class="card" style="margin-top: 20px ">
                            <div class="card-body">
                                <p> Un objet est une valeur composite
                                </p>
                                <p>PC’est une collection de propriétés désordonnée, chacune
                                    avec un nom et une valeur et qui peuvent être </p>
                                <ul>
                                    <li> Des Attributs</li>
                                    <li>Des Méthodes</li>
                                </ul>

                                <p>Les propriétés peuvent être ajoutés dynamiquement  </p>
                                <p> Trois types d’objets : </p>
                                <ul>
                                    <li>Objet Native: défini par la spécification ECMAScript (Arrays,
                                        fonctions, dates)  </li>
                                    <li>Objet Hôte: défini par l’environnement hôte (e.g. navigateur)
                                        dans lequel l’interpréteur est embarqué, i.e. HTMLElement dans
                                        le JS coté client. </li>
                                    <li>dObject défini par l’utilisateur : objet crée par l’exécution du
                                        code JS </li>
                                </ul>

                                <div class="container justify-items-end row">
                                    <div class="col"><a class="btn-grad" href="{{ path('JSCourse',{num : 7 }) }}">< Previous</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('Discover')}}">Home</a></div>
                                    <div class="col"><a class="btn-grad" href="{{ path('JSCourse',{num : 9 }) }}">Next ></a></div>
                                </div>

                            </div>
                        </div>
                    {% endblock %}