{% extends 'User.html.twig'%}

{% block Title %}Edit Profile{% endblock %}

{% block StyleSheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/User/EditProfileUser.css') }}">
{% endblock %}

 {% block Activated %}
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('Discover') }}">DISCOVER</a>
     </li>
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('MyCourses') }}">MY COURSES</a>
     </li>
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('MyProjects') }}">MY PROJECTS</a>
     </li>
 {% endblock %}


{% block Body %}
    <div id = "Editing" class="container">
        <div class="main-body">
            <div class="row">



                <div class="card">
                    <div class="card-body">
                        <div class="row headings gradient-underline"> <h5 style="text-align: center ; margin: 20px">Change your password </h5></div>
                        {{ form_start(formPass) }}
                        <div class="row mb-3">
                            <h5 class="mb-0"> {{ form_row(formPass.oldPassword) }} </h5>
                        </div>

                        <div class="row mb-3">
                            <h5 class="mb-0">{{ form_row(formPass.plainPassword.first) }}</h5>
                        </div>

                        <div class="row mb-3">
                            <h5 class="mb-0">  {{ form_row(formPass.plainPassword.second) }}   </h5>
                        </div>


                        <div class="row" style="margin-top: 20px; width: 50%; font-size: 15px">
                            <button type="submit" class="btn-grad" id="EditInfo" >Register!</button>
                        </div>
                        {{ form_end(formPass) }}

                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block greetings %} <div class="col Greeting "> Welcome,{{ user.FirstName }} </div> {% endblock %}

