{% extends 'User.html.twig' %}

{% block Title %}My Profile{% endblock %}

{% block StyleSheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/User/ProfileUser.css') }}">
{% endblock %}

 {% block Activated %}
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('Discover') }}">DISCOVER</a>
     </li>
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('MyCourses') }}">MY COURSES</a>
     </li>
     <li class="nav-item" id = "header">
         <a class="nav-link" href="{{ path('MyProjects') }}">MY PROJECTS</a>
     </li>
 {% endblock %}

{% block Body %}
    <div id = "Profile" class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card Profile">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://icons-for-free.com/iconfiles/png/512/agenda+app+contacts+online+profile+user+icon-1320183042135412367.png" alt="Admin" width="200"/>
                                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110"> -->
                                <div class="mt-3">
                                    <h4>{{ user.FirstName }}  {{ user.LastName }}</h4>
                                    {% if user.address is not null %}
                                        <p class="text-muted font-size-sm">{{ user.address }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row headings gradient-underline"> <h5 style="text-align: center ; margin: 20px">User's Info</h5></div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <p>{{ user.FirstName }}  {{ user.LastName }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">

                                    <h6 class="mb-0">Address</h6>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    {% if user.address is not null %}
                                    <p>{{ user.address }}</p>
                                    {% else %}
                                    <p>Not set yet</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">My Bio</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% if user.Bio is not null %}
                                        <p>{{ user.Bio }}</p>
                                    {% else %}
                                        <p>Not set yet</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; width: 50%; font-size: 15px">
                                <a class="btn-grad" id="EditInfo" href="{{ path('Edit_Profile_Info') }}">Edit Info</a>
                            </div>

                            <div  class="row headings gradient-underline "> <h5>Change Password</h5></div>
                            <div class="row mb-3">
                                <p>
                                    Would you like to change your password ?
                                </p>

                            </div>

                            <div class="row" style=" width: 50%; font-size: 15px">
                                <a class="btn-grad" id="ChangePassword" href="{{ path('Edit_Profile_Password') }}" style="margin-top: 0;">Change password</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block greetings %} <div class="col Greeting "> Welcome,{{ user.FirstName }} </div> {% endblock %}
